---
import Layout from "../layouts/Layout.astro"
import {SectionCard } from "../components/SectionCard";
import { Card } from "../components/Card";
---

<Layout title="Servicios">
  <section class="Hero">
    <h2 class="mb-8">Nuestros Servicios</h2>
  
    <!-- Categorías de servicios -->
    <SectionCard client:only="react" title="Minecraft" >
      <Card 
        title="Configuración de Servidores"
        desc="Servidores listos para competir con configuraciones avanzadas."
        src="/es.png"
        OnlyButton={false}
        client:only="react"
      />
      <Card 
        title="Soporte Técnico"
        desc="Asistencia y mantenimiento para servidores Minecraft."
        src="/en.png"
        OnlyButton={false}
        client:only="react"
      />
      <Card 
        title="Construcción de Mapas"
        desc="Creamos lobbies y mapas únicos para modalidades de juego."
        src="/en1.png"
        OnlyButton={false}
        client:only="react"
      />
    </SectionCard>

    <SectionCard client:only="react" title="Discord" >
      <Card 
        title="Desarrollo de Bots"
        desc="Creamos bots personalizados para automatizar servidores de Discord."
        src="/es.png"
        OnlyButton={false}
        client:only="react"
      />
      <Card 
        title="Configuración de Servidores"
        desc="Organización profesional y herramientas para comunidades."
        src="/es1.png"
        OnlyButton={false}
        client:only="react"
      />
    </SectionCard>

    <SectionCard client:only="react" title="Diseño Grafico" >
      <Card 
        title="Creación de Logos"
        desc="Diseños únicos y personalizados para marcas y proyectos."
        src="/es.png"
        OnlyButton={false}
        client:only="react"
      />
      <Card 
        title="Renders 3D"
        desc="Visualizaciones tridimensionales de alta calidad."
        src="/es1.png"
        OnlyButton={false}
        client:only="react"
      />
    </SectionCard>

    <SectionCard client:only="react" title="Otros" >
      <Card 
        title="Desarrollo Web"
        desc="Creación de sitios web personalizados y optimizados."
        src="/es.png"
        OnlyButton={false}
        client:only="react"
      />
      <Card 
        title="Consultoría Técnica"
        desc="Asesoría en proyectos tecnológicos y soluciones personalizadas."
        src="/es1.png"
        OnlyButton={false}
        client:only="react"
      />
    </SectionCard>
  </section>
</Layout>
